<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/thymeleaf/layout" layout:decorator="admin/layout">
	<style type="text/css" layout:fragment="head">
		.main.container { margin-top: 6em; }
		.ui.fixed.secondary.menu { background: #f5f5f5; border-bottom: 1px solid #e5e5e5; }
	</style>
	<th:block layout:fragment="content">
		<div class="ui fixed secondary menu">
			<div class="ui container">
				<!--<div class="item"><img src="/images/snowflake-inv.svg"/></div>-->
				<!--<img src="/images/profile-pic-300px.jpg" class="ui image circular mini"/>-->
				<a class="active item"><i class="icon dashboard"></i>Dashboard</a>
				<div class="ui dropdown pointing item"><i class="database icon"></i>Content
					<i class="dropdown icon"></i>
					<div class="menu">
						<div class="item">New</div>
						<div class="item">
							<span class="description">ctrl + o</span>Open...</div>
						<div class="item">
							<span class="description">ctrl + s</span>Save as...</div>
						<div class="item">
							<span class="description">ctrl + r</span>Rename</div>
						<div class="item">Make a copy</div>
						<div class="item">
							<i class="folder icon"></i>Move to folder</div>
						<div class="item">
							<i class="trash icon"></i>Move to trash</div>
						<div class="divider"></div>
						<div class="item">Download As...</div>
						<div class="item">
							<i class="dropdown icon"></i>Publish To Web
							<div class="menu">
								<div class="item">Google Docs</div>
								<div class="item">Google Drive</div>
								<div class="item">Dropbox</div>
								<div class="item">Adobe Creative Cloud</div>
								<div class="item">Private FTP</div>
								<div class="item">Another Service...</div>
							</div>
						</div>
						<div class="item">E-mail Collaborators</div>
					</div>
				</div>
				<div class="ui dropdown pointing item"><i class="tasks icon"></i>Website Management
					<i class="dropdown icon"></i>
					<div class="menu">
						<a class="item" href="#/blah">New</a>
						<div class="item">
							<span class="description">ctrl + o</span>Open...</div>
						<div class="item">
							<span class="description">ctrl + s</span>Save as...</div>
						<div class="item">
							<span class="description">ctrl + r</span>Rename</div>
						<div class="item">Make a copy</div>
						<div class="item">
							<i class="folder icon"></i>Move to folder</div>
						<div class="item">
							<i class="trash icon"></i>Move to trash</div>
						<div class="divider"></div>
						<div class="item">Download As...</div>
						<div class="item">
							<i class="dropdown icon"></i>Publish To Web
							<div class="menu">
								<div class="item">Google Docs</div>
								<div class="item">Google Drive</div>
								<div class="item">Dropbox</div>
								<div class="item">Adobe Creative Cloud</div>
								<div class="item">Private FTP</div>
								<div class="item">Another Service...</div>
							</div>
						</div>
						<div class="item">E-mail Collaborators</div>
					</div>
				</div>
				<div class="ui dropdown pointing item"><i class="settings icon"></i>Administration
					<i class="dropdown icon"></i>
					<div class="menu">
						<a class="item" href="#/profile/edit"><i class="icon user"></i>Edit Profile</a>
					</div>
				</div>
				<div class="right menu">
					<div class="ui dropdown pointing item">
						<img src="/images/profile-pic-300px.jpg" class="ui image circular mini" />
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item">Logged in as
								<strong>admin</strong>
							</div>
							<div class="divider"></div>
							<a class="item" href="#/profile/edit"><i class="user icon"></i>User Profile</a>
							<a class="item" href="#/profile/settings"><i class="options icon"></i>Settings</a>
							<div class="divider"></div>
							<a class="item logout"><i class="sign out icon"></i>Logout</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui container main">
			<div class="ui four statistics">
				<div class="statistic">
					<div class="value">22</div>
					<div class="label">Saves</div>
				</div>
				<div class="statistic">
					<div class="text value">Three
						<br/>Thousand</div>
					<div class="label">Signups</div>
				</div>
				<div class="statistic">
					<div class="value">
						<i class="plane icon"></i>5</div>
					<div class="label">Flights</div>
				</div>
				<div class="statistic">
					<div class="value">
						<img src="/images/profile-pic-300px.jpg" class="ui circular inline image"/>42</div>
					<div class="label">Team Members</div>
				</div>
			</div>
		</div>
		<form id="logout" th:action="@{/admin/logout}" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</form>
	</th:block>
	<th:block layout:fragment="body-bottom">
		<script type="text/javascript">
			$('.logout.item').click(function(){ $('#logout').submit(); })
			$('.ui.dropdown').dropdown({ action: 'hide'})
		</script>
	</th:block>

</html>