<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/thymeleaf/layout" layout:decorator="admin/layout">
	<style type="text/css" layout:fragment="head">
		body { background-color: #DADADA; }
    	body > .grid { height: 100%; }
    	.image { margin-top: -100px; }
    	.column { max-width: 450px; }
	</style>
	<th:block layout:fragment="content">
		<div class="ui middle aligned center aligned grid">
			<div class="column">
				<h2 class="ui blue image header">
					<img src="http://blog.tompawlak.org/client/img/panda-icon-48.81b56b1b.png" class="image" />
					<div class="content">Freezo
						<div class="sub header">Control Centre</div>
					</div>
				</h2>
				<form class="ui large form">
					<div class="ui stacked segment">
						<div class="field">
							<div class="ui left icon input">
								<i class="user icon"></i>
								<input type="text" name="email" placeholder="Username" />
							</div>
						</div>
						<div class="field">
							<div class="ui left icon input">
								<i class="lock icon"></i>
								<input type="password" name="password" placeholder="Password" />
							</div>
						</div>
						<div class="ui fluid blue large submit button">Login</div>
					</div>
					<div class="ui error message"></div>
				</form>
				<div class="ui message">
					<a href="#">Forgotten your username or password?</a>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="body-bottom">
		<script type="text/javascript">
			$(document).ready(function() {
				$('.ui.form').form({
					onSuccess: function() {
						$(this).addClass('loading');
					},
					fields : {
						email : {
							identifier : 'email',
							rules : [{
								type : 'empty',  
								prompt : 'Please enter your e-mail'
							},{
								type : 'email',
								prompt : 'Please enter a valid e-mail'
							} ]
						},
						password : {
							identifier : 'password',
							rules : [{
								type : 'empty',
								prompt : 'Please enter your password'
							},{
								type : 'length[6]',
								prompt : 'Your password must be at least 6 characters'
							} ]
						}
					}
				});
			});
		</script>
	</th:block>

</html>