<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Title</title>
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style"
	content="black-translucent" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" />
<meta name="twitter:description"
	content="To code, or not to code &amp;hellip;" />
<meta property="og:type" content="article" />
<meta property="og:title" />
<meta property="og:description" content="" />
<link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="/assets/apple-touch-icon-precomposed.png"
	rel="apple-touch-icon" />
<link href="//fonts.googleapis.com/" rel="dns-prefetch" />
<link
	href="//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:700,400&amp;subset=latin,latin-ext"
	rel="stylesheet" />
<link rel="stylesheet" href="/assets/css/3c236dc6.main.min.css" />
<script src="/assets/js/b14267da.head-scripts.min.js"></script>
<link rel="next" href="/page/2" />
</head>
<body class="home-template">
	<button id="drawer-button" data-action="open-drawer"
		class="drawer-button">
		<i class="fa fa-bars"></i>
	</button>
	<nav tabindex="-1" class="drawer">
		<div class="drawer-container">
			<ul role="navigation" class="drawer-list">
				<li class="drawer-list-item"><a href="/"><i
						class="fa fa-home"></i>Home</a></li>
				<li class="drawer-list-item"><a
					href="http://blog.tompawlak.org/rss"><i class="fa fa-rss"></i>Subscribe
						to Feed</a></li>
				<li class="drawer-list-divider"></li>
				<li class="drawer-list-item drawer-list-title">Follow me</li>
				<li class="drawer-list-item"><a href="https://github.com/T-PWK"
					target="_blank"><i class="fa fa-github"></i>Github</a></li>
				<li class="drawer-list-item"><a
					href="http://stackoverflow.com/users/1916110/tom" target="_blank"><i
						class="fa fa-stack-overflow"></i>Stack Overflow</a></li>
				<li class="drawer-list-item"><a
					href="https://plus.google.com/u/0/+TomPawlakM" target="_blank"><i
						class="fa fa-google-plus"></i>Google+</a></li>
				<li class="drawer-list-divider"></li>
				<li class="drawer-list-item drawer-list-title">Archive</li>
				<li class="drawer-list-item"><a href="/2014/12"><i
						class="fa fa-archive"></i>December 2014</a></li>
				<li class="drawer-list-item"><a href="/2014/09"><i
						class="fa fa-archive"></i>September 2014</a></li>
				<li class="drawer-list-item"><a href="/2014/06"><i
						class="fa fa-archive"></i>June 2014</a></li>
				<li class="drawer-list-item"><a href="/2014/05"><i
						class="fa fa-archive"></i>May 2014</a></li>
				<li class="drawer-list-item"><a href="/2014/04"><i
						class="fa fa-archive"></i>April 2014</a></li>
				<li class="drawer-list-item"><a href="/2014/02"><i
						class="fa fa-archive"></i>February 2014</a></li>
				<li class="drawer-list-item"><a href="/2014/01"><i
						class="fa fa-archive"></i>January 2014</a></li>
				<li class="drawer-list-item"><a href="/2013/12"><i
						class="fa fa-archive"></i>December 2013</a></li>
			</ul>
		</div>
	</nav>
	<div class="drawer-overlay"></div>
	<main id="container" role="main" class="container">
	<div class="surface">
		<div class="surface-container">
			<div data-pjax-container="" class="content">
				<aside role="banner" class="cover">
					<div data-load-image="/assets/img/autobahn.jpg"
						class="cover-image image-loaded"
						style="background-image: url(http://blog.tompawlak.org/assets/img/autobahn.jpg);"></div>
					<div class="cover-container">
						<h1 class="cover-title">Tom's Blog</h1>
						<p class="cover-description">To code, or not to code …</p>
					</div>
				</aside>
				<section tabindex="0" class="wrapper">
					<div class="wrapper-container">
						<section class="post-list">
							<article itemscope="itemscope"
								itemtype="http://schema.org/BlogPosting" role="article"
								class="post-item post tag-express tag-javascript tag-middleware tag-nodejs tag-sailsjs">
								<header class="post-item-header">
									<h2 itemprop="name" class="post-item-title">
										<a href="/sailsjs-v010-express-custommiddleware"
											itemprop="url"
											title="Sails.js v0.10 express customMiddleware">Sails.js
											v0.10 express customMiddleware</a>
									</h2>
								</header>
								<section itemprop="description" class="post-item-excerpt">
									<p>In this post, I would like to share how to customize
										Express server in Sails.js version 0.10. Handling of the
										customMiddleware has slightly changed from Sails v0.9.x. In
										version 0.10 that method needs to be configured in http hook
										(not express hook, as in the …</p>
								</section>
								<footer class="post-item-footer">
									<ul class="post-item-meta-list">
										<li class="post-item-meta-item">Posted <time
												datetime="2014-12-23" itemprop="datePublished">8
												months ago</time>
											<meta content="2014-12-23" itemprop="dateModified"/> by
											<span itemprop="author" itemscope="itemscope"
											itemtype="http://schema.org/Person"><meta
													content="https://plus.google.com/u/0/+TomPawlakM"
													itemprop="url"/>
												<strong><a
													href="https://plus.google.com/u/0/+TomPawlakM" rel="author"
													itemprop="name">Tom Pawlak</a></strong></span></li>
										<li class="post-item-meta-item"><a
											href="/sailsjs-v010-express-custommiddleware#disqus_thread">0
												Comments</a></li>
									</ul>
									<ul class="post-item-meta-list">
										<li class="post-item-meta-item"><i class="fa fa-tags"></i>
											Labels: <span><a href="/search/label/express"><strong
													itemprop="keywords">express</strong></a></span>, <span><a
												href="/search/label/javascript"><strong
													itemprop="keywords">javascript</strong></a></span>, <span><a
												href="/search/label/middleware"><strong
													itemprop="keywords">middleware</strong></a></span>, <span><a
												href="/search/label/node.js"><strong itemprop="keywords">node.js</strong></a></span>,
											<span><a href="/search/label/sails.js"><strong
													itemprop="keywords">sails.js</strong></a></span></li>
									</ul>
								</footer>
							</article>
							<article itemscope="itemscope"
								itemtype="http://schema.org/BlogPosting" role="article"
								class="post-item post tag-html tag-java tag-thymeleaf tag-web">
								<header class="post-item-header">
									<h2 itemprop="name" class="post-item-title">
										<a href="/thymeleaf-html-element-replacement" itemprop="url"
											title="Thymeleaf HTML element replacement">Thymeleaf HTML
											element replacement</a>
									</h2>
								</header>
								<section itemprop="description" class="post-item-excerpt">
									<p>When building HTML templates wiht Thymeleaf template
										engine, you may end up with a situation where an HTML element
										needs to have text coming from localization resources, but
										also it needs to have some additonal child elements which
										can't be replaced during template rendering. One of the
										examples …</p>
								</section>
								<footer class="post-item-footer">
									<ul class="post-item-meta-list">
										<li class="post-item-meta-item">Posted <time
												datetime="2014-12-18" itemprop="datePublished">8
												months ago</time>
											<meta content="2015-02-10" itemprop="dateModified"/> by
											<span itemprop="author" itemscope="itemscope"
											itemtype="http://schema.org/Person"><meta
													content="https://plus.google.com/u/0/+TomPawlakM"
													itemprop="url"/>
												<strong><a
													href="https://plus.google.com/u/0/+TomPawlakM" rel="author"
													itemprop="name">Tom Pawlak</a></strong></span></li>
										<li class="post-item-meta-item"><a
											href="/thymeleaf-html-element-replacement#disqus_thread">0
												Comments</a></li>
									</ul>
									<ul class="post-item-meta-list">
										<li class="post-item-meta-item"><i class="fa fa-tags"></i>
											Labels: <span><a href="/search/label/html"><strong
													itemprop="keywords">html</strong></a></span>, <span><a
												href="/search/label/java"><strong itemprop="keywords">java</strong></a></span>,
											<span><a href="/search/label/thymeleaf"><strong
													itemprop="keywords">thymeleaf</strong></a></span>, <span><a
												href="/search/label/web"><strong itemprop="keywords">web</strong></a></span></li>
									</ul>
								</footer>
							</article>
							<article itemscope="itemscope"
								itemtype="http://schema.org/BlogPosting" role="article"
								class="post-item post tag-cloud tag-dyno tag-heroku tag-identifier">
								<header class="post-item-header">
									<h2 itemprop="name" class="post-item-title">
										<a href="/identify-heroku-dyno-instance" itemprop="url"
											title="How to identify a Heroku Dyno instance?">How to
											identify a Heroku Dyno instance?</a>
									</h2>
								</header>
								<section itemprop="description" class="post-item-excerpt">
									<p>In this post, I am sharing how to identify a Heroku
										dynos from within your application. In many cases, well
										written cloud applications does not need to know what Heroku
										dyno is handling a request. However, sometimes that knowledge
										is essential. That need has been addressed by Heroku team. The
										…</p>
								</section>
								<footer class="post-item-footer">
									<ul class="post-item-meta-list">
										<li class="post-item-meta-item">Posted <time
												datetime="2014-12-17" itemprop="datePublished">8
												months ago</time>
											<meta content="2014-12-31" itemprop="dateModified"/> by
											<span itemprop="author" itemscope="itemscope"
											itemtype="http://schema.org/Person"><meta
													content="https://plus.google.com/u/0/+TomPawlakM"
													itemprop="url"/>
												<strong><a
													href="https://plus.google.com/u/0/+TomPawlakM" rel="author"
													itemprop="name">Tom Pawlak</a></strong></span></li>
										<li class="post-item-meta-item"><a
											href="/identify-heroku-dyno-instance#disqus_thread">0
												Comments</a></li>
									</ul>
									<ul class="post-item-meta-list">
										<li class="post-item-meta-item"><i class="fa fa-tags"></i>
											Labels: <span><a href="/search/label/cloud"><strong
													itemprop="keywords">cloud</strong></a></span>, <span><a
												href="/search/label/dyno"><strong itemprop="keywords">dyno</strong></a></span>,
											<span><a href="/search/label/heroku"><strong
													itemprop="keywords">heroku</strong></a></span>, <span><a
												href="/search/label/identifier"><strong
													itemprop="keywords">identifier</strong></a></span></li>
									</ul>
								</footer>
							</article>
							<article itemscope="itemscope"
								itemtype="http://schema.org/BlogPosting" role="article"
								class="post-item post tag-angularjs tag-currency tag-decimal tag-filter tag-format tag-formatting tag-javascript tag-locale tag-number tag-regular-expression">
								<header class="post-item-header">
									<h2 itemprop="name" class="post-item-title">
										<a href="/remove-decimal-cents-angularjs-currency-formatting"
											itemprop="url"
											title="Remove decimal / cents in AngularJS currency formatting">Remove
											decimal / cents in AngularJS currency formatting</a>
									</h2>
								</header>
								<section itemprop="description" class="post-item-excerpt">
									<p>AngularJS provides currency formatting filter which
										converts numbers into locale specific currency string e.g.
										123.50 number converts to $123.00 for en-US locale or 123,50 €
										for fr-FR locale. But what to do if I would like to perform
										currency formatting without decimal (cent) part e.g. $123 …</p>
								</section>
								<footer class="post-item-footer">
									<ul class="post-item-meta-list">
										<li class="post-item-meta-item">Posted <time
												datetime="2014-09-30" itemprop="datePublished">11
												months ago</time>
											<meta content="2014-10-27" itemprop="dateModified"/> by
											<span itemprop="author" itemscope="itemscope"
											itemtype="http://schema.org/Person"><meta
													content="https://plus.google.com/u/0/+TomPawlakM"
													itemprop="url"/>
												<strong><a
													href="https://plus.google.com/u/0/+TomPawlakM" rel="author"
													itemprop="name">Tom Pawlak</a></strong></span></li>
										<li class="post-item-meta-item"><a
											href="/remove-decimal-cents-angularjs-currency-formatting#disqus_thread">0
												Comments</a></li>
									</ul>
									<ul class="post-item-meta-list">
										<li class="post-item-meta-item"><i class="fa fa-tags"></i>
											Labels: <span><a href="/search/label/angularjs"><strong
													itemprop="keywords">angularjs</strong></a></span>, <span><a
												href="/search/label/currency"><strong
													itemprop="keywords">currency</strong></a></span>, <span><a
												href="/search/label/decimal"><strong itemprop="keywords">decimal</strong></a></span>,
											<span><a href="/search/label/filter"><strong
													itemprop="keywords">filter</strong></a></span>, <span><a
												href="/search/label/format"><strong itemprop="keywords">format</strong></a></span>,
											<span><a href="/search/label/formatting"><strong
													itemprop="keywords">formatting</strong></a></span>, <span><a
												href="/search/label/javascript"><strong
													itemprop="keywords">javascript</strong></a></span>, <span><a
												href="/search/label/locale"><strong itemprop="keywords">locale</strong></a></span>,
											<span><a href="/search/label/number"><strong
													itemprop="keywords">number</strong></a></span>, <span><a
												href="/search/label/regular%20expression"><strong
													itemprop="keywords">regular expression</strong></a></span></li>
									</ul>
								</footer>
							</article>
							<article itemscope="itemscope"
								itemtype="http://schema.org/BlogPosting" role="article"
								class="post-item post tag-javascript tag-nodejs tag-sailsjs tag-session">
								<header class="post-item-header">
									<h2 itemprop="name" class="post-item-title">
										<a href="/session-cookie-expiration-sailsjs" itemprop="url"
											title="How to set session cookie expiration in Sails.js">How
											to set session cookie expiration in Sails.js</a>
									</h2>
								</header>
								<section itemprop="description" class="post-item-excerpt">
									<p>When you generate new Sails application, session use
										transient (aka session) cookies. In most cases web browsers
										normally delete transient cookies when the user closes the
										browser. As the cookie is deleted, users session is
										terminated. In some cases this is desired behaviour but
										sometimes it is required that session …</p>
								</section>
								<footer class="post-item-footer">
									<ul class="post-item-meta-list">
										<li class="post-item-meta-item">Posted <time
												datetime="2014-09-26" itemprop="datePublished">11
												months ago</time>
											<meta content="2014-09-26" itemprop="dateModified"/> by
											<span itemprop="author" itemscope="itemscope"
											itemtype="http://schema.org/Person"><meta
													content="https://plus.google.com/u/0/+TomPawlakM"
													itemprop="url"/>
												<strong><a
													href="https://plus.google.com/u/0/+TomPawlakM" rel="author"
													itemprop="name">Tom Pawlak</a></strong></span></li>
										<li class="post-item-meta-item"><a
											href="/session-cookie-expiration-sailsjs#disqus_thread">0
												Comments</a></li>
									</ul>
									<ul class="post-item-meta-list">
										<li class="post-item-meta-item"><i class="fa fa-tags"></i>
											Labels: <span><a href="/search/label/javascript"><strong
													itemprop="keywords">javascript</strong></a></span>, <span><a
												href="/search/label/node.js"><strong itemprop="keywords">node.js</strong></a></span>,
											<span><a href="/search/label/sails.js"><strong
													itemprop="keywords">sails.js</strong></a></span>, <span><a
												href="/search/label/session"><strong itemprop="keywords">session</strong></a></span></li>
									</ul>
								</footer>
							</article>
							<article itemscope="itemscope"
								itemtype="http://schema.org/BlogPosting" role="article"
								class="post-item post tag-date tag-java tag-java-8 tag-time">
								<header class="post-item-header">
									<h2 itemprop="name" class="post-item-title">
										<a href="/java-8-conversion-new-date-time-api" itemprop="url"
											title="Java 8: conversion between new time API classes and java.util.Date">Java
											8: conversion between new time API classes and java.util.Date</a>
									</h2>
								</header>
								<section itemprop="description" class="post-item-excerpt">
									<p>Among plenty of improvements, Java 8 came with a
										completely new API for dates, times, instants, and durations
										(java.time package). However, there are thousands of projects
										that use the legacy java.util.Date for date and time
										presentation purpose. As Oracle did not provide any direct way
										of converting …</p>
								</section>
								<footer class="post-item-footer">
									<ul class="post-item-meta-list">
										<li class="post-item-meta-item">Posted <time
												datetime="2014-06-25" itemprop="datePublished">a year
												ago</time>
											<meta content="2015-01-11" itemprop="dateModified"/> by
											<span itemprop="author" itemscope="itemscope"
											itemtype="http://schema.org/Person"><meta
													content="https://plus.google.com/u/0/+TomPawlakM"
													itemprop="url"/>
												<strong><a
													href="https://plus.google.com/u/0/+TomPawlakM" rel="author"
													itemprop="name">Tom Pawlak</a></strong></span></li>
										<li class="post-item-meta-item"><a
											href="/java-8-conversion-new-date-time-api#disqus_thread">0
												Comments</a></li>
									</ul>
									<ul class="post-item-meta-list">
										<li class="post-item-meta-item"><i class="fa fa-tags"></i>
											Labels: <span><a href="/search/label/date"><strong
													itemprop="keywords">date</strong></a></span>, <span><a
												href="/search/label/java"><strong itemprop="keywords">java</strong></a></span>,
											<span><a href="/search/label/java-8"><strong
													itemprop="keywords">java-8</strong></a></span>, <span><a
												href="/search/label/time"><strong itemprop="keywords">time</strong></a></span></li>
									</ul>
								</footer>
							</article>
							<article itemscope="itemscope"
								itemtype="http://schema.org/BlogPosting" role="article"
								class="post-item post tag-eol tag-java tag-newline">
								<header class="post-item-header">
									<h2 itemprop="name" class="post-item-title">
										<a href="/platform-dependent-newline-java" itemprop="url"
											title="Platform-dependent newline character in Java">Platform-dependent
											newline character in Java</a>
									</h2>
								</header>
								<section itemprop="description" class="post-item-excerpt">
									<p>In many situations you may need to use
										platform-dependent newline character in Java. There are
										several ways you can get that value, depending on the Java
										version you are using. System properties Java system
										properties always includes line.separator property which
										contains platform-dependent line separator (\n on UNIX and \r
										…</p>
								</section>
								<footer class="post-item-footer">
									<ul class="post-item-meta-list">
										<li class="post-item-meta-item">Posted <time
												datetime="2014-06-19" itemprop="datePublished">a year
												ago</time>
											<meta content="2014-06-19" itemprop="dateModified"/> by
											<span itemprop="author" itemscope="itemscope"
											itemtype="http://schema.org/Person"><meta
													content="https://plus.google.com/u/0/+TomPawlakM"
													itemprop="url"/>
												<strong><a
													href="https://plus.google.com/u/0/+TomPawlakM" rel="author"
													itemprop="name">Tom Pawlak</a></strong></span></li>
										<li class="post-item-meta-item"><a
											href="/platform-dependent-newline-java#disqus_thread">0
												Comments</a></li>
									</ul>
									<ul class="post-item-meta-list">
										<li class="post-item-meta-item"><i class="fa fa-tags"></i>
											Labels: <span><a href="/search/label/eol"><strong
													itemprop="keywords">eol</strong></a></span>, <span><a
												href="/search/label/java"><strong itemprop="keywords">java</strong></a></span>,
											<span><a href="/search/label/newline"><strong
													itemprop="keywords">newline</strong></a></span></li>
									</ul>
								</footer>
							</article>
						</section>
						<nav role="pagination" class="post-list-pagination">
							<span
								class="post-list-pagination-item post-list-pagination-item-current">Page
								1 of 5</span><a href="/page/2"
								class="post-list-pagination-item post-list-pagination-item-next">Older
								<i class="fa fa-angle-double-right"></i>
							</a>
						</nav>
						<footer role="contentinfo" class="footer">
							<p>
								<small>All content copyright Tom's Blog © 2015 • All rights reserved.</small>
							</p>
							<p>
								<small><a href="http://ghostium.oswaldoacauan.com/"
									target="_blank" rel="nofollow">Ghostium Theme</a> by <a
									href="http://twitter.com/oswaldoacauan" target="_blank"
									rel="nofollow">@oswaldoacauan</a></small>
							</p>
							<p>
								<small>Proudly published with <a
									href="https://github.com/T-PWK/panda">Panda</a></small>
							</p>
						</footer>
					</div>
				</section>
			</div>
		</div>
	</div>
	</main>
	<script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
</body>
</html>