<html xmlns:layout="http://www.thymeleaf.org/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
	<div class="ui breadcrumb">
		<a href="#/dashboard" class="section">Dashboard</a>
		<i class="right angle icon divider"></i>
		<div class="section">Administration</div>
		<i class="right angle icon divider"></i>
		<div class="active section">Users</div>
	</div>
	<div class="ui hidden divider"></div>
	<div class="ui stackable grid">
		<div class="six wide tablet four wide computer column">
			<div class="ui vertical menu">
				<div class="item">
					<div class="ui input">
						<input type="text" placeholder="Filter users..." />
					</div>
				</div>
				<a class="item" ng-click="reload()"><span th:text="#{label.refresh.users}" th:remove="tag"/><i class="icon refresh"></i></a>
				<a class="item"><span th:text="#{label.new}" th:remove="tag"/><i class="icon add"></i></a>
				<div class="item">
					<span th:text="#{label.sortby}" th:remove="tag" />
					<i class="sort icon"></i>
					<div class="menu">
						<a class="item" ng-click="sortBy('account.username')" ng-class="{active:isSortBy('account.username')}"><span th:text="#{label.username}" th:remove="tag"/>
						<i ng-if="isSortBy('account.username')" class="icon sort" ng-class="asc?'ascending':'descending'"></i></a>
						<a class="item" ng-click="sortBy('email')" ng-class="{active:isSortBy('email')}"><span th:text="#{label.email}" th:remove="tag"/>
						<i ng-if="isSortBy('email')" class="icon sort" ng-class="asc?'ascending':'descending'"></i></a>
						<a class="item" ng-click="sortBy('firstName')" ng-class="{active:isSortBy('firstName')}"><span th:text="#{label.firstName}" th:remove="tag"/>
						<i ng-if="isSortBy('firstName')" class="icon sort" ng-class="asc?'ascending':'descending'"></i></a>
						<a class="item" ng-click="sortBy('lastName')" ng-class="{active:isSortBy('lastName')}"><span th:text="#{label.lastName}" th:remove="tag"/>
						<i ng-if="isSortBy('lastName')" class="icon sort" ng-class="asc?'ascending':'descending'"></i></a>
					</div>
				</div>
				<div class="item">
					<i class="filter icon"></i><span th:text="#{label.show}" th:remove="tag"/>
					<div class="menu">
						<a class="item" ng-click="filterBy('all')" ng-class="filterCls('all')" th:text="#{label.all}">All</a>
						<a class="item" ng-click="filterBy('enabled')" ng-class="filterCls('enabled')">
						<i class="checkmark icon"></i><span th:text="#{label.enabled}" th:remove="tag"/></a>
						<a class="item" ng-click="filterBy('disabled')" ng-class="filterCls('disabled')">
						<i class="remove icon"></i><span th:text="#{label.disabled}" th:remove="tag"/></a>
						<a class="item" ng-click="filterBy('nonlocked')" ng-class="filterCls('nonlocked')">
						<i class="icon unlock"></i><span th:text="#{label.nonLocked}" th:remove="tag"/></a>
						<a class="item" ng-click="filterBy('locked')" ng-class="filterCls('locked')">
						<i class="icon lock"></i><span th:text="#{label.locked}" th:remove="tag"/></a>
						<a class="item" ng-click="filterBy('nonexpired')" ng-class="filterCls('nonexpired')">
						<i class="icon calendar"></i><span th:text="#{label.nonExpired}" th:remove="tag"/></a>
						<a class="item" ng-click="filterBy('expired')" ng-class="filterCls('expired')">
						<i class="icon calendar "></i><span th:text="#{label.expired}" th:remove="tag"/></a>
						<a class="item" ng-click="filterBy('credentials_nonexpired')" ng-class="filterCls('credentials_nonexpired')">
						<i class="icon calendar"></i><span th:text="#{label.credNonExpired}" th:remove="tag"/></a>
						<a class="item" ng-click="filterBy('credentials_expired')" ng-class="filterCls('credentials_expired')">
						<i class="icon calendar"></i><span th:text="#{label.credExpired}" th:remove="tag"/></a>
					</div>
				</div>
			</div>
		</div>
		<div class="ten wide tablet ten wide computer column">
			<div class="ui dimmer inverted" ng-class="{active:!details.$resolved}">
				<div class="ui medium text loader" th:text="#{label.loading}">Loading</div>
			</div>
			<p th:utext="#{txt.showingNumberOfUsers}">Showing X users</p>
			<div class="ui divider"></div>
			<div class="ui very relaxed list divided fz-users">
				<div class="item" ng-repeat="user in users">
					<img class="ui tiny circular image" ng-src="{{user.picture || '/images/profile-pic-300px.jpg'}}" />
					<div class="content">
						<div class="header">
							<div class="text">{{user.firstName}} {{user.lastName}}</div>
						</div>
						<div class="description">
							<div class="ui list">
								<div class="item">
									<i class="user icon"></i>
									<div class="content">{{user.account.username}}</div>
								</div>
								<div class="item">
									<i class="mail icon"></i>
									<div class="content">{{user.email}}</div>
								</div>
								<div class="item" ng-if="user.website">
									<i class="linkify icon"></i>
									<div class="content">
										<a ng-href="{{user.website}}" target="_blank">{{user.website}}</a>
									</div>
								</div>
								<div class="item" ng-if="user.account.authorities.length">
									<i class="users icon"></i>
									<div class="content">{{(user.account.authorities|roleNames).join(',')}}</div>
								</div>
								<div class="item" ng-if="!user.account.enabled">
									<i class="red remove icon"></i>
									<div class="content" th:text="#{label.accountDisabled}">Account disabled</div>
								</div>
								<div class="item" ng-if="!user.account.nonLocked">
									<i class="red lock icon"></i>
									<div class="content" th:text="#{label.accountLocked}">Account locked</div>
								</div>
								<div class="item" ng-if="!user.account.nonExpired">
									<i class="red calendar icon"></i>
									<div class="content" th:text="#{label.accountExpired}">Account expired</div>
								</div>
								<div class="item" ng-if="!user.account.credentialsNonExpired">
									<i class="red calendar icon"></i>
									<div class="content" th:text="#{label.accountCredExpired}">Account credentials expired</div>
								</div>
								<div class="item">
									<div class="ui horizontal bulleted link list">
										<a class="item" ng-click="edit(user)"><i class="edit icon"></i><span th:text="#{label.edit}" th:remove="tag"/></a>
										<a class="item" ng-click="action('disable', user)" ng-if="user.account.enabled"><i class="remove icon"></i><span th:text="#{label.disable}" th:remove="tag"/></a>
										<a class="item" ng-click="action('enable', user)" ng-if="!user.account.enabled"><i class="checkmark icon"></i><span th:text="#{label.enable}" th:remove="tag"/></a>
										<a class="item" ng-click="action('lock', user)" ng-if="user.account.nonLocked"><i class="lock icon"></i><span th:text="#{label.lock}" th:remove="tag"/></a>
										<a class="item" ng-click="action('unlock', user)" ng-if="!user.account.nonLocked"><i class="unlock icon"></i><span th:text="#{label.unlock}" th:remove="tag"/></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ui icon info message" ng-if="details.totalElements==0">
				<i class="users icon"></i>
				<div class="content">
					<div class="header">No user profiles found!</div>
					<p>There is no user profiles meeting your search or filter criteria.</p>
				</div>
			</div>
			<div class="ui pagination menu floated right" ng-if="details.totalPages>1">
				<a class="item" ng-click="pageAt(1)" ng-class="{active:!pageNumber}">1</a>
				<a class="item" ng-click="pageAt(page)" ng-repeat="page in pagination()" ng-class="{active:pageNumber==page-1}">{{page}}</a>
			</div>
		</div>
	</div>
	<div class="ui modal create"></div>
	<div class="ui modal edit">
		<i class="close icon"></i>
		<div class="header">Profile Picture</div>
		<div class="image content">
			<div class="ui medium image">
				<img ng-src="{{user.picture || '/images/profile-pic-300px.jpg'}}" />
			</div>
			<div class="description">
				<div class="ui header">We've auto-chosen a profile image for you.</div>
				<p>We've grabbed the following image from the
					<a href="https://www.gravatar.com" target="_blank">gravatar</a>image associated with your registered e-mail address.</p>
				<p>Is it okay to use this photo?</p>
			</div>
		</div>
		<div class="actions">
			<div class="ui black deny button">Nope</div>
			<div class="ui positive right labeled icon button">Yep, that's me
				<i class="checkmark icon"></i>
			</div>
		</div>
	</div>
	<div class="ui small basic modal confirm">
		<div class="ui icon header" ng-switch="whatAction">
			<span ng-switch-when="disable">
				<i class="remove icon"></i>Disable User Account</span>
			<span ng-switch-when="enable">
				<i class="checkmark icon"></i>Enable User Account</span>
			<span ng-switch-when="lock">
				<i class="lock icon"></i>Lock User Account</span>
			<span ng-switch-when="unlock">
				<i class="unlock icon"></i>Unlock User Account</span>
		</div>
		<div class="content" ng-switch="whatAction">
			<p ng-switch-when="disable">Are you sure you want do disable
				<strong>{{user.account.username}}</strong>user account?</p>
			<p ng-switch-when="enable">Are you sure you want do enable
				<strong>{{user.account.username}}</strong>account?</p>
			<p ng-switch-when="lock">Are you sure you want do lock
				<strong>{{user.account.username}}</strong>account?</p>
			<p ng-switch-when="unlock">Are you sure you want do unlock
				<strong>{{user.account.username}}</strong>account?</p>
		</div>
		<div class="actions">
			<div class="ui red basic inverted button cancel">
				<i class="remove icon"></i>
				<span th:text="#{label.no}" th:remove="tag">No</span>
			</div>
			<div class="ui green basic inverted button ok">
				<i class="checkmark icon"></i>
				<span th:text="#{label.yes}" th:remove="tag">Yes</span>
			</div>
		</div>
	</div>

</html>