<div class="ui breadcrumb">
	<a class="section">Dashboard</a>
	<i class="right angle icon divider"></i>
	<a class="section">Administration</a>
	<i class="right angle icon divider"></i>
	<div class="active section">Users</div>
</div>
<div class="ui hidden divider"></div>
<div class="ui stackable grid">
	<div class="four wide column">
		<div class="ui vertical menu">
			<div class="item">
				<div class="ui input">
					<input type="text" placeholder="Filter users..." />
				</div>
			</div>
			<div class="item">Home
				<div class="menu">
					<a class="active item">Search</a>
					<a class="item">Add</a>
					<a class="item">Remove</a>
				</div>
			</div>
			<a class="item">
    <i class="grid layout icon"></i> Browse
  </a>
			<a class="item">
    Messages
  </a>
			<div class="ui dropdown item">Filter
				<i class="dropdown icon"></i>
				<div class="menu">
						<div class="header">
							<i class="tags icon"></i>Filter by user availability</div>
						<div class="item" ng-click="filterBy('ALL')">All</div>
						<div class="item" ng-click="filterBy('ENABLED')">
							<i class="green checkmark icon"></i>Enabled</div>
						<div class="item" ng-click="filterBy('DISABLED')">
							<i class="red remove icon"></i>Disabled</div>
						<div class="item" ng-click="filterBy('NONLOCKED')">
							<i class="icon green unlock"></i>Non-Locked</div>
						<div class="item" ng-click="filterBy('LOCKED')">
							<i class="icon red lock"></i>Locked</div>
						<div class="item" ng-click="filterBy('NONEXPIRED')">
							<i class="icon green calendar"></i>Non-Expired</div>
						<div class="item" ng-click="filterBy('EXPIRED')">
							<i class="icon calendar red"></i>Expired</div>
						<div class="header">
							<i class="tags icon"></i>Filter by user credentials</div>
						<div class="item" ng-click="filterBy('CREDENTIALS_NONEXPIRED')">
							<i class="icon green calendar"></i>Non-Expired</div>
						<div class="item" ng-click="filterBy('CREDENTIALS_EXPIRED')">
							<i class="icon calendar red"></i>Expired</div>
					</div>
			</div>
		</div>
	</div>
	<div class="twelve wide column">
		<div class="ui secondary  menu">
			<div class="item">
				<div class="ui labeled icon dropdown button basic">
					<i class="filter icon"></i>
					<span class="text">Filter</span>
					<div class="menu">
						<div class="header">
							<i class="tags icon"></i>Filter by user availability</div>
						<div class="item" ng-click="filterBy('ALL')">All</div>
						<div class="item" ng-click="filterBy('ENABLED')">
							<i class="green checkmark icon"></i>Enabled</div>
						<div class="item" ng-click="filterBy('DISABLED')">
							<i class="red remove icon"></i>Disabled</div>
						<div class="item" ng-click="filterBy('NONLOCKED')">
							<i class="icon green unlock"></i>Non-Locked</div>
						<div class="item" ng-click="filterBy('LOCKED')">
							<i class="icon red lock"></i>Locked</div>
						<div class="item" ng-click="filterBy('NONEXPIRED')">
							<i class="icon green calendar"></i>Non-Expired</div>
						<div class="item" ng-click="filterBy('EXPIRED')">
							<i class="icon calendar red"></i>Expired</div>
						<div class="header">
							<i class="tags icon"></i>Filter by user credentials</div>
						<div class="item" ng-click="filterBy('CREDENTIALS_NONEXPIRED')">
							<i class="icon green calendar"></i>Non-Expired</div>
						<div class="item" ng-click="filterBy('CREDENTIALS_EXPIRED')">
							<i class="icon calendar red"></i>Expired</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="ui labeled icon dropdown button basic">
					<i class="sort icon"></i>
					<span class="text">Sort</span>
					<div class="menu">
						<div class="item" ng-click="sortBy('accountUsername')">Username</div>
						<div class="item" ng-click="sortBy('firstName')">First Name</div>
						<div class="item" ng-click="sortBy('lastName')">Last Name</div>
						<div class="item" ng-click="sortBy('email')">E-mail Address</div>
					</div>
				</div>
			</div>
			<div class="right menu">
				<div class="item">
					<div class="ui icon input">
						<input type="text" placeholder="Filter users..." />
						<i class="search link icon"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="ui divider"></div>
		<div class="ui very relaxed list divided fz-users">
			<div class="item" ng-repeat="user in users">
				<img class="ui avatar image" ng-src="{{user.picture || '/images/profile-pic-300px.jpg'}}" />
				<div class="content">
					<a class="header" ng-click="info(user)">{{user.firstName}} {{user.lastName}}</a>
					<div class="description">
						<div class="ui horizontal list">
							<div class="item">
								<i class="user icon"></i>
								<div class="content">{{user.account.username}}</div>
							</div>
							<div class="item">
								<i class="mail icon"></i>
								<div class="content">{{user.email}}</div>
							</div>
							<div class="item" ng-if="user.website">
								<i class="linkify icon"></i>
								<div class="content">
									<a ng-href="{{user.website}}" target="_blank">{{user.website}}</a>
								</div>
							</div>
							<div class="item" ng-if="user.account.authorities.length">
								<i class="users icon"></i>
								<div class="content">{{(user.account.authorities|roleName).join(',')}}</div>
							</div>
						</div>
					</div>
					<div class="description" ng-if="!user.account.enabled || user.account.locked || user.account.expired || user.account.credentialsExpired">
						<div class="ui horizontal list">
							<div class="item" ng-if="!user.account.enabled">
								<i class="red remove icon"></i>
								<div class="content">Account disabled</div>
							</div>
							<div class="item" ng-if="user.account.locked">
								<i class="red lock icon"></i>
								<div class="content">Account locked</div>
							</div>
							<div class="item" ng-if="user.account.expired">
								<i class="red calendar icon"></i>
								<div class="content">Account expired</div>
							</div>
							<div class="item" ng-if="user.account.credentialsExpired">
								<i class="red calendar icon"></i>
								<div class="content">Account credentials expired</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui icon info message" ng-if="details.totalElements==0">
			<i class="users icon"></i>
			<div class="content">
				<div class="header">No user profiles found!</div>
				<p>There is no user profiles meeting your search criteria.</p>
			</div>
		</div>
		<div class="ui pagination menu floated right" ng-if="details.totalPages>1">
			<a class="item" ng-click="pageAt(1)">1</a>
			<a class="item" ng-click="pageAt(page)" ng-repeat="page in pages">{{page}}</a>
		</div>
	</div>
	<div class="ui modal">
		<i class="close icon"></i>
		<div class="header">Profile Picture</div>
		<div class="image content">
			<div class="ui medium image">
				<img ng-src="{{user.picture || '/images/profile-pic-300px.jpg'}}" />
			</div>
			<div class="description">
				<div class="ui header">We've auto-chosen a profile image for you.</div>
				<p>We've grabbed the following image from the
					<a href="https://www.gravatar.com" target="_blank">gravatar</a>image associated with your registered e-mail address.</p>
				<p>Is it okay to use this photo?</p>
			</div>
		</div>
		<div class="actions">
			<div class="ui black deny button">Nope</div>
			<div class="ui positive right labeled icon button">Yep, that's me
				<i class="checkmark icon"></i>
			</div>
		</div>
	</div>
</div>